<?xml version="1.0"?>
<odoo>
    <menuitem id="music_menu"
              name="Music" />

    <!--songs-->
    <act_window id="action_songs"
      name="Song List"
      res_model="musictwo.song"
      view_mode="tree,form"
	/>

    <menuitem id="menu_songs"
              name="Songs"
              parent="music_menu"
              action="action_songs"
    />

    <!--liked-->
    <act_window id="action_liked"
      name="Liked"
      res_model="musictwo.liked"
      view_mode="tree,form"
	/>

    <menuitem id="menu_liked"
              name="Liked"
              parent="music_menu"
              action="action_liked"
    />

    <!--liked-->
    <act_window id="action_genre"
      name="Genre"
      res_model="musictwo.genre"
      view_mode="tree,form"
	/>

    <menuitem id="menu_genre"
              name="Genre"
              parent="music_menu"
              action="action_genre"
    />

    <!--artist-->
    <act_window id="action_artist"
      name="Artist"
      res_model="musictwo.artist"
      view_mode="tree,form"
	/>

    <menuitem id="menu_artist"
              name="Artist"
              parent="music_artist"
              action="action_artist"
    />

</odoo>
